/* variables */
:root {
    --color1: #22223b;
    --color2: #4a4e69;
    --color3: #9a8c98;
    --color4: #c9ada7;
    --color5: #f2e9e4;
}

/* global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Tajawal', sans-serif;
  }

body {
      background: var(--color1);
  }

/* header styles */
header {
    background: var(--color2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 30px;
    font-size: 28px;
    box-shadow: 0 2px 2px var(--color4);
    z-index: 9999;
    position: -webkit-sticky;
    position: sticky;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header ul li a {
    margin: 10px 25px;
    text-decoration: none;
    color: var(--color4);
}

header ul li a:hover {
    color: var(--color5);
}

/* hero styles */
.about-me {
    background-color: var(--color1);
    color: var(--color5);
    text-align: center;
}

.about-me h1 {
    font-size: 75px;
    padding: 15px 0;
}

.about-me p {
    padding: 30px 100px;
}

/* projects styles */
.projects {
    background-color: var(--color2);
}